:root {
    --bs-body-font-family: "Rubik", sans-serif;

    --cch-status-white-color: #ffffff;
    --cch-status-green-color: #009933;
    --cch-status-yellow-color: #ffcc00;
    --cch-status-dark-yellow-color: #ff9900;
    --cch-status-orange-color: #ff6600;
    --cch-status-red-color: #ff0000;
    --cch-status-dark-red-color: #cc0000;
    --cch-status-blue-color: #3399ff;
    --cch-status-black-color: #000000;
    --cch-status-grey-color: #cccccc;
}
