:root {
    --bs-body-font-family: "Rubik", sans-serif;

    --cch-black-light: #131619;

    --cch-body-bg-dark: #2f343a;
    --cch-body-bg-light: #e9e9e9;

    --cch-border-color: #3e4347;

    --cch-green-100: #d0f7ff;
    --cch-green-900: #0b4c5a;

    --cch-panel-bg-dark: #212529;
    --cch-panel-bg-light: #f9f9fa;

    --cch-purple-100: #e4dff1;
    --cch-purple-200: #d0bfff;
    --cch-purple-300: #c1a8ff;
    --cch-purple-400: #c6b2fb;
    --cch-purple-500: #bca2ff;
    --cch-purple-600: #a785ff;
    --cch-purple-700: #7860b7;
    --cch-purple-800: #604d92;
    --cch-purple-900: #463968;

    --cch-text-bg-1: #009933;
    --cch-text-bg-2: #ff9900;
    --cch-text-bg-3: #ff6600;
    --cch-text-bg-4: #ff0000;
    --cch-text-bg-5: #cc0000;
    --cch-text-bg-7z: #3399ff;
    --cch-text-bg-89: black;
    --cch-text-bg--: #cccccc;
    --cch-text-bg-abc: #ffcc00;
    --cch-text-bg-dark: #2c3034;
}
