$dropdown-min-width: 8.5rem;
$dropdown-dark-link-active-bg: #a785ff;
$dropdown-dark-link-active-color: black;

$primary: #7860b7;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 3.5,
    7: $spacer * 4,
    8: $spacer * 5,
    9: $spacer * 6,
    10: $spacer * 7,
);

$link-decoration: none;
$link-hover-decoration: underline;
