.asc {
    background-image: url(assets/images/asc.png) !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
}

.desc {
    background-image: url(assets/images/desc.png) !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}

.table-responsive {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-width: 0;
    border-radius: 0.375rem;
}

.table tbody tr:hover .common {
    background: #d7c8ff;
}

.table tbody tr.selected {
    border-top: 0.07rem solid #8859ff;
    border-bottom: 0.07rem solid #8859ff;
}

.table tbody td.selected.common {
    background: #8768d8;
    color: #fff;
}
