.cch-btn-outline-primary-dark {
    --bs-btn-color: #a785ff;
    --bs-btn-border-color: #a785ff;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #a785ff;
    --bs-btn-active-border-color: #a785ff;
}
