.cch-list-group-item-dark {
    color: #fff;
    background-color: #181818;
    --bs-list-group-border-color: rgba(255, 255, 255, 0.125);
}

.cch-list-group-item-dark-primary {
    color: #eae2ff;
    background-color: #463968;
}

.cch-list-group-item-dark-info {
    color: #d0f7ff;
    background-color: #0b4c5a;
}
