.cch-border-dark {
    border-color: var(--cch-border-color) !important;
}

.cch-card-border-dark {
    border-color: var(--cch-border-color);
}

.cch-shadow-dark {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}

body {
    &.dark {
        background-color: var(--cch-body-bg-dark);
    }

    &.light {
        background-color: var(--cch-body-bg-light);
    }
}
