.cch-border-dark {
    border-color: var(--cch-border-color) !important;
}

.cch-card-border-dark {
    border-color: var(--cch-border-color);
}

.cch-shadow-dark {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}

html {
    height: 100%;
}

body {
    &.dark {
        color-scheme: dark;
        background-color: var(--cch-body-bg-dark);
    }

    &.light {
        color-scheme: light;
        background-color: var(--cch-body-bg-light);
    }
}

body,
#root {
    flex-direction: column;
    height: 100%;
    display: flex;
}
