.cch-border-dark {
    border-color: #3e4347 !important;
}

.cch-card-border-dark {
    border-color: #3e4347;
}

.cch-shadow-dark {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}

body {
    &.dark {
        background-color: #2f343a;
    }

    &.light {
        background-color: #e9e9e9;
    }
}
