.cch-navbar-text {
    color: var(--bs-navbar-brand-color);
}

.cch-text-bg-0 {
    color: black;
    background-color: white;
}

.cch-text-bg-1 {
    background-color: var(--cch-text-bg-1);
}

.cch-text-bg-A,
.cch-text-bg-B,
.cch-text-bg-C {
    color: black;
    background-color: var(--cch-text-bg-abc);
}

.cch-text-bg-2 {
    background-color: var(--cch-text-bg-2);
}

.cch-text-bg-3 {
    background-color: var(--cch-text-bg-3);
}

.cch-text-bg-4 {
    background-color: var(--cch-text-bg-4);
}

.cch-text-bg-5 {
    background-color: var(--cch-text-bg-5);
}

.cch-text-bg-7,
.cch-text-bg-Z {
    background-color: var(--cch-text-bg-7z);
}

.cch-text-bg-8,
.cch-text-bg-9 {
    background-color: var(--cch-text-bg-89);
}

.cch-text-bg-- {
    color: black;
    background-color: var(--cch-text-bg--);
}

.cch-text-bg {
    &.dark {
        color: #fff;
        background-color: var(--cch-text-bg-dark);
    }

    &.light {
        background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1));
    }
}
