.asc {
    background-image: url(../../images/asc.png) !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
}

.desc {
    background-image: url(../../images/desc.png) !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
}

table thead tr th {
    border-bottom: 2px solid currentcolor !important;
}
