.table-active {
    --bs-table-accent-bg: #7860b7;
    --bs-table-striped-bg: #7860b7;
    --bs-table-striped-color: #fff;
    --bs-table-hover-bg: #7860b7;
    --bs-table-hover-color: #fff;
    color: #fff;
}

.table tbody td .badge-loans-data {
    font-size: 90%;
    font-weight: inherit;
}
